/* @import url('https://fonts.googleapis.com/css2?family=Alata&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  font-family: 'Alata', sans-serif;
}

* {
  font-family: 'Alata', sans-serif;
  /* transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out; */
}

/* Calendar Dark Theme Overrides */
[data-theme='dark'] .ant-picker-calendar {
  background-color: transparent;
}

[data-theme='dark'] .ant-picker-calendar-header {
  background-color: transparent;
}

[data-theme='dark'] .ant-picker-calendar-date {
  color: #fff;
}

[data-theme='dark'] .ant-picker-calendar-date-today {
  color: #fff;
  border-color: #fff;
}

[data-theme='dark'] .ant-picker-calendar-date:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

[data-theme='dark'] .ant-picker-calendar-cell {
  color: #fff;
}

[data-theme='dark'] .ant-picker-calendar-cell-disabled {
  color: rgba(255, 255, 255, 0.25);
}

[data-theme='dark'] .ant-picker-calendar-cell-in-view {
  color: #fff;
}

/* Switch wrapper container */
.switch-wrapper {
  position: relative;
  width: 50px; /* Width of the switch */
  height: 25px; /* Height of the switch */
  cursor: pointer;
  border-radius: 50px; /* Rounded corners for the switch */
  transition: background-color 0.3s ease-in-out; /* Smooth background color transition */
}

/* Light theme styles */
.switch-wrapper.light .switch-bg {
  background-color: white; /* Dark background in light theme */
  border: 1px solid black; /* Border in light theme */
}

.switch-wrapper.light .switch-thumb {
  background-color:black ; /* White thumb in light theme */
  transform: translateX(0); /* Keep the thumb on the left */
}

/* Dark theme styles */
.switch-wrapper.dark .switch-bg {
  background-color: black; /* Light background in dark theme */
  border: 1px solid white; /* Border in dark theme */
}

.switch-wrapper.dark .switch-thumb {
  background-color: white; /* Black thumb in dark theme */
  transform: translateX(25px); /* Move the thumb to the right */
}

/* Common styles for the thumb */
.switch-thumb {
  position: absolute;
  top: 11%;
  left: 2px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  transform: translateY(-50%); /* Vertically center the thumb */
  transition: transform 0.3s ease-in-out; /* Smooth thumb movement */
}

/* Background for the switch */
.switch-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: background-color 0.3s ease-in-out; /* Smooth background transition */
}
