#!/usr/bin/env bash
set -euo pipefail
__prevEnv__="$(env)"

DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")" >/dev/null 2>&1 && pwd)"
export NX_WORKSPACE_ROOT=${DIR}

PATH_add node_modules/.bin
PATH_add tools/bin
PATH_add packages/dev/database/bin

export HASURA_VERSION="2.35.1"
export NATS_VERSION="0.1.1"

export FIXTURE_DIR="${NX_WORKSPACE_ROOT}/tests/fixtures"

export WORKSPACE_NAME="saito"
export DEV_NETWORK_NAME="saito_network"
export HASURA_GRAPHQL_SERVER_PORT="28717"
export HASURA_GRAPHQL_ADMIN_SECRET="9AgJckEMHPRgrasj7Ey8jR"

# export NODE_DATABASE_URL="postgres://postgres:postgres@sight-miner-postgres:5432/saito_db"
export NODE_DATABASE_URL="postgres://postgres:postgres@127.0.0.1:7543/saito_db"

export OLLAMA_API_URL="http://127.0.0.1:11434/"
export OLLAMA_MODEL="deepscaler"

export GPU_BRAND="GPU_BRAND"
export DEVICE_TYPE="DEVICE_TYPE"
export GPU_MODEL="GPU_MODEL"

export API_SERVER_BASE_PATH=""

if [[ -f .envrc.override ]]; then
  source_env .envrc.override
fi

# export updated ENV of this file
node "${NX_WORKSPACE_ROOT}/tools/bin/get-env" "${__prevEnv__}" "$(env)" >"${NX_WORKSPACE_ROOT}/.env" &
