#!/usr/bin/env bash
set -euo pipefail
__prevEnv__="$(env)"

DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")" >/dev/null 2>&1 && pwd)"
export NX_WORKSPACE_ROOT=${DIR}

PATH_add node_modules/.bin
PATH_add tools/bin
PATH_add packages/dev/database/bin

export HASURA_VERSION="2.35.1"
export NATS_VERSION="0.1.1"

export FIXTURE_DIR="${NX_WORKSPACE_ROOT}/tests/fixtures"

export WORKSPACE_NAME="saito"
export DEV_NETWORK_NAME="saito_network"
export HASURA_GRAPHQL_SERVER_PORT="28717"
export HASURA_GRAPHQL_ADMIN_SECRET="9AgJckEMHPRgrasj7Ey8jR"

# export NODE_DATABASE_URL="postgres://postgres:postgres@sight-miner-postgres:5432/saito_db"
export NODE_DATABASE_URL="postgres://postgres:postgres@127.0.0.1:7543/saito_db"

export ETH_RPC_URL="https://rpc.beta.testnet.l2.quarkchain.io:8545"
export ETHSTORAGE_RPC_URL="https://rpc.beta.testnet.l2.ethstorage.io:9596"

export NATS_URL="nats://localhost:4222"

export OPENPIPE_API_KEY="add-your-key-here"
export OPENAI_API_KEY="add-your-key-here"
export OPENAI_ORGANIZATION="add-your-key-here"

export PRIVATE_KEY=""
export WALLET_ADDRESS="0x5b341022794C71279fBC454985b5b9F7371e0821"
export FLAT_DIR_ADDRESS="0x7E24A3e187829c4B973d9a16238314DA2F58577F"
export VERIFICATION_CONTRACT_ADDRESS="0xCaB58F49f33571bE60542f516985aEC792204aAA"
export CHAIN_ID=3335
export REQUESTER_ADDRESS="0xFe7b0f208593375A11754179cEe43C9e6f9b1567"
export OLLAMA_API_URL="http://127.0.0.1:11434/"
export OLLAMA_DEVICE_ID="ollama-1"
export OLLAMA_DEVICE_NAME="Ollama AI Server"
export OLLAMA_MODEL="deepseek-r1:7b"
export GATEWAY_URL="http://127.0.0.1:8718"

if [[ -f .envrc.override ]]; then
  source_env .envrc.override
fi

# export updated ENV of this file
node "${NX_WORKSPACE_ROOT}/tools/bin/get-env" "${__prevEnv__}" "$(env)" >"${NX_WORKSPACE_ROOT}/.env" &
